<div class="weekly-forecast">
  <h3>7-Day Forecast for {{ city }}</h3>
  <div class="forecast-list">
    <div *ngFor="let day of weeklyForecast" class="forecast-item">
      <p>Date: {{ day.date | date:'shortDate' }}</p>
      <p>Temperature: {{ day.temperature }}°C</p>
      <p>Min: {{ day.temperatureMin }}°C | Max: {{ day.temperatureMax }}°C</p>
      <p>Humidity: {{ day.humidity }}%</p>
      <p>Precipitation: {{ day.precipitation }}%</p>
      <p>Wind Speed: {{ day.windSpeed }} m/s</p>
      <p>{{ day.description }}</p>
      <hr>
    </div>
  </div>
</div>
