.hourly-forecast {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h3 {
  color: #333;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.forecast-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 4px;
  scrollbar-width: thin;
  
}

.forecast-item {
  min-width: 100px;
  padding: 16px;
  background-color: rgba(36, 140, 138, 0.773);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  backdrop-filter: blur(10px);
}

.time {
  font-size: 0.9rem;
  color: #8e8e8e;
}

.temperature {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.description {
  font-size: 0.9rem;
  color: #8e8e8e;
  text-align: center;
}

/* Custom scrollbar */
.forecast-container::-webkit-scrollbar {
  height: 6px;
}

.forecast-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.forecast-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.forecast-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}